<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Min Nettbutikk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Homepage.css') }}">
</head>
<body>
    <!-- HEADER -->
    <header class="navbar">
    <div class="left">
        <span class="logo">Min Nettbutikk</span>
        <nav class="main-nav">
            <a href="/">Hjem</a>
            <a href="/Produkter">Produkter</a>


                {% if logged_in %}
            <span>Logget inn som <strong>{{ username }}</strong></span>
            <a href="/logout">Logg ut</a>
        {% else %}
            <a href="/Login">Logg inn</a>
            <a href="/Register">Opprett bruker</a>
        {% endif %}
        </nav>
    </div>
   

    <div class="actions">
        <input type="text" placeholder="Søk etter produkter...">

        
            <a href="{{ url_for('cart') }}" class="cart-btn">
                🛒 <span class="cart-count">{{ cart_count }}</span>
            </a>
        
    </div>
</header>

    <!-- Main content -->
    <section class="main">
        <div class="main-content">
            <h1>Teknologi som gjør hverdagen enklere</h1>
            <p>Oppdag nye produkter til jobb og hjem.</p>
            <a href="#" class="cta-btn">Se produkter</a>
        </div>
    </section>

    <!-- Produktene -->
    <section class="products">
        <h2>Populære produkter</h2>
        <div class="product-grid">
            
            <div class="product-card">
                <img src="{{ url_for('static', filename='image/TP-LINKwireless_ruter.avif') }}" alt="Produkt">
                <h3>TP-LINKtrådløs ruter (TL-WR841N)</h3>
                <p class="price">375 kr</p>
                <button>Legg til i handlekurv</button>
            </div>

            <div class="product-card">
                <img src="{{ url_for('static', filename='image/firewall.jpg') }}" alt="Produkt">
                <h3>Cisco Meraki Mx67 Router Security Appliance </h3>
                <p class="price">6 244 KR</p>
                <button>Kjøp nå</button>
            </div>

            <div class="product-card">
                <img src="{{ url_for('static', filename='image/switch.jpg') }}" alt="Produkt">
                <h3>24-Port Gigabit Smart Switch GS724TV6 </h3>
                <p class="price">2 900 KR</p>
                <button>Kjøp nå</button>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <p>Design inspirert av Dustin.no</p>
    </footer>

</body>
</html>