<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP-LINK Trådløs Ruter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Homepage.css') }}">
</head>
<body>

<!-- HEADER -->
<header class="navbar">
    <div class="left">
        <span class="logo">Min Nettbutikk</span>
        <nav class="main-nav">
            
            <a href="{{ url_for('produkter') }}">Produkter</a>


                {% if logged_in %}
            <span>Logget inn som <strong>{{ username }}</strong></span>
            <a href="/logout">Logg ut</a>
        {% else %}
            <a href="/login">Logg inn</a>
            <a href="/Register">Opprett bruker</a>
        {% endif %}
        </nav>
    </div>
   

    <form action="{{ url_for('add_to_cart') }}" method="post">
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <button type="submit">Legg i handlekurv</button>
</form>
</header>

<!-- PRODUKT -->
<section class="product-page">
  {% for product in products %}
  <div class="product-container">

    <div class="product-image">
      <img src="{{ url_for('static', filename=product.image) }}">
    </div>

    <div class="product-info">
      <h1>{{ product.name }}</h1>
      <p class="price">{{ product.price }} kr</p>
      <p class="description">{{ product.description }}</p>

      <a href="{{ url_for('add_to_cart', product_id=product.id) }}">
        <button>Legg til i handlekurv</button>
      </a>
    </div>

  </div>
  {% endfor %}
</section>

<!-- FOOTER -->
<footer>
    <p>Design inspirert av Dustin.no</p>
</footer>

</body>
</html>